<div class="glass-card rounded-xl p-8 w-full max-w-5xl" data-aos="fade-up" data-aos-delay="[DELAY]">
    <div class="flex items-center mb-6">
        <div class="icon-container"><i data-lucide="[ICONE]" class="primary-color"></i></div>
        <div class="w-10 h-1 primary-bg ml-4 mr-4"></div>
        <h3 class="text-3xl font-bold text-white">[TITULO_CARD]</h3>
    </div>
    <ul class="space-y-6">
        <li class="flex items-start">
            <span class="text-5xl font-black primary-color mr-4 counter" data-target="[VALOR]">0</span>
            <p class="text-white/90 text-lg">[DESCRICAO]</p>
        </li>
    </ul>
</div>